body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style pour le conteneur des offres */
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#offers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

.offer-card {
  position: relative;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.offer-card:hover {
  transform: scale(1.05);
}

/* Style pour l'icône wishlist */
.wishlist-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.wishlist-icon:hover {
  color: #f39c12;
}

.wishlist-icon .fa-star {
  pointer-events: none;
}

/* Style pour le bouton "Postuler" */
.postuler-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.postuler-btn:hover {
  background-color: #0056b3;
}