footer {  
  z-index: 1; /* Assure que le footer est au-dessus de la vidéo */  
  background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent avec un peu plus d'opacité */  
  color: #fff;  
  text-align: center;  
  padding: 20px;  /* Augmenté pour plus d'espace */  
  width: 100%;  
  position: fixed;  
  bottom: 0;  
}  

.footer-content {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  text-align: center;  
  gap: 5px; /* Écart minimum entre les éléments */  
}  

.footer-content h3 {  
  font-size: 1rem; /* Plus grand */  
  margin: 0;  
}  

.footer-content p {  
  max-width: 350px; /* Légèrement plus large */  
  margin: 5px auto;  
  line-height: 1.2rem; /* Augmenté pour une meilleure lisibilité */  
  font-size: 12px; /* Augmenté */  
  color: #cacdd2;   
}  

.socials {  
  list-style: none;  
  display: flex;  
  gap: 8px; /* Écart entre les icônes */  
  padding: 0;  
  margin: 5px 0;  
}  

.socials a img {  
  width: 20px; /* Plus grandes icônes */  
  height: auto;  
}  

.footer-bottom {  
  background: #000;  
  width: 100%;  
  padding: 10px 0;  /* Augmenté */  
  text-align: center;  
}  

.footer-bottom p {  
  font-size: 10px; /* Plus grand */  
  margin: 0;  
}  

.footer-bottom p a {  
  color: #44bae8;  
  text-decoration: none;  
}  