footer {  
    position: relative;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    background: #111;  
    height: auto;  
    width: 100%; /* Utiliser 100% au lieu de 45% pour couvrir toute la largeur */  
    padding: 10px; /* Réduit le padding */  
    color: #fff;  
}  

.footer-content {  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    flex-direction: column;  
    text-align: center;  
}  

.footer-content h3 {  
    font-size: 1.2rem; /* Réduit de moitié */  
    font-weight: 500;  
    text-transform: capitalize;  
}  

.footer-content p {  
    max-width: 400px; /* Ajustement */  
    margin: 5px auto;  
    line-height: 1rem; /* Ajustement */  
    font-size: 12px; /* Ajustement */  
    color: #cacdd2;  
}  

.socials {  
    list-style: none;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    margin: 1rem 0; /* Ajustement */  
}  

.socials li {  
    margin: 0 5px; /* Réduit */  
}  

.socials a {  
    text-decoration: none;  
}  

.footer-bottom {  
    background: #000;  
    width: 100%;  
    padding: 10px; /* Ajustement */  
    text-align: center;  
}  

.footer-bottom p {  
    font-size: 8px; /* Réduit */  
}  

.footer-bottom p a {  
    color: #44bae8;  
    text-decoration: none;  
}  